<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LibertyRiders Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2237FBA02AA9A6DF0033F5A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2237FBB62AA9A6E60033F5A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2237FBC02AA9A6E60033F5A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
